@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&family=Inter:wght@300;400;500;600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f8f8;
    color: #222;
}


.navbar {
    padding: 10px 30px;
    background: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.main-heading {
    font-family: "Bree Serif";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 1px;
}


.home-section .nav-link {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    transition: 0.3s ease;
}

.home-section .nav-link:hover {
    color: #000;
    border-bottom: 2px solid #000;
}


.main-background {
    /* background-image: url("https://t3.ftcdn.net/jpg/03/32/99/44/360_F_332994403_tt8an5MscPVGbXrIYX7JWuCsr1TCbLOL.jpg"); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.inside-head h3 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: 600;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 30px;
}


.buttu {
    font-family: "Inter", sans-serif;
    padding: 14px 34px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    background-color: white;
    color: #333;
    font-weight: 600;
    transition: 0.3s ease;
    margin-top: 20px;
}

.buttu:hover {
    background-color:#060270;
    color: white;
}


.photo1 {
    background-size: cover;
    height: 600px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 30px 55px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in;
}

.photo1:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 20px rgba(212, 175, 55, 0.6);
}


.women-head {
    color: #eaeaea;
    font-style: italic;
    text-align: center;
}

.college-outfits {
    font-family: "Playfair Display", serif;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-top: 12px;
    color: #111;
}


.h-center {
    text-align: center;
}

.inside-button {
    padding: 10px 20px;
    border-radius: 25px;
    background: white;
    border: 1px solid #000;
    margin: 30px auto;
    transition: 0.3s;
}

.inside-button:hover {
    background-color: black;
    color: white;
}

.photo2 {
    height:400px;
    width: 75%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    margin: 10px;
}

.photo2:hover {
    transform: scale(1.03);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.explorepage {
    background-color: #0f0f0f;
}

.video1 {
    height: 100vh;
    width: 50%;
}

.main-bg-video {
    height: 100%;
    width: 100%;
}
#background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
      z-index: -1; 
    }